/* Imported libraries */
/* @import url("bootstrap.css"); */

/* Global CSS rules */
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	box-sizing: border-box; /*Include padding and border in the element's total width and height (w3school)*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}