<script>
  import Navbar from "./navbar.svelte"; // Must start with capsLock
  import SimpleFooter from "./simpleFooter.svelte";
  import SideNav from "./sidenav.svelte";
  import MainPage from "./mainpage.svelte";
  //   import jQuery from "jquery"
  export let name;

  //   console.log(jQuery), the ($) is a reserved word, maybe create another .md with this stuff.
</script>

<style type="text/scss">
  $firstColor: brown;
  html,
  body {
    // position: relative;
    width: 100%;
    height: 100%;
  }

  body {
    margin: 0;
    box-sizing: border-box; /*Include padding and border in the element's total width and height (w3school)*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  h2 {
    color: $firstColor;
  }
  //   div.mainContent > div{
  // 	  margin: 0;
  // 	  padding: 0;
  // 	//   width: 100%;
  //   }
</style>

<Navbar />
<!-- <div class="container-fluid"> -->
<div class="mainContent">
  <SideNav />
  <!-- It could be interesting to have this here (though it should be something useful) .... -->
  <h2 class="text-center">Hello {name}!</h2>
  <MainPage />
</div>
<!-- </div>	 -->
<SimpleFooter />
