<script>

</script>

<style>
div.main-page {
    background-color: burlywood;
    max-height: 40px;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}
#mainPage {
    /* position: relative; */
    width: auto;
}
/* https://scotch.io/tutorials/customize-the-browsers-scrollbar-with-css Customizing scrollbar */
#mainPage::-webkit-scrollbar {
    width: 4px;
    background-color: grey;
}
#mainPage::-webkit-scrollbar-thumb {
    background-color: red;
}
/* #mainPage::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: green;
} */
</style>

<div id="mainPage" class="text-center main-page ">
    <h3>MAin Page</h3>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
    <h1>Teste</h1>
</div>