<style>
  div.sidenavContainer {
      margin: 0;
      padding: 0;
  }
  #sidenav {
    border: 1px solid grey;
    width: auto;
    /* max-width: 8vh; */
    /* position: fixed; */
  }
  #sidenav > li {
    border-radius: 50%;
    border: 0.5px solid black;
    text-align: center;
    padding-left: 2px;
  }
</style>

<div class="sidenavContainer">

  <ul id="sidenav" class="nav flex-column">
    <li class="nav-item">
      <span>
        <i class="fas fa-align-center" />
      </span>
    </li>
    <li class="nav-item">
      <span>
        <i class="fas fa-align-justify" />
      </span>
    </li>
    <li class="nav-item">
      <span>
        <i class="fas fa-glasses" />
      </span>
    </li>
    <li class="nav-item">
      <span>
        <i class="fas fa-folder" />
      </span>
    </li>
  </ul>
</div>
