<script>
</script>

<style>
    footer {
        position: relative;
        /* bottom: 0px; */
        display: inline-block;
        width: 100%;
    }
</style>

<footer class="text-center">
<ul class="list-inline">
    <li class="list-inline-item">My Diigo app</li>
    <li class="list-inline-item">Copyright 2019</li>
</ul>
</footer>